<app-card-template titleCard="Actvidades">
    <h4 headerCard> Información de la actividad</h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <table class="table" *ngIf="!editar">
                <tr colspan="2">
                    <td><Strong>Nombre de la actividad</Strong>
                        <br>
                        {{ currentIndicator['name'] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <Strong>Fecha inicial</Strong><br>
                        {{currentIndicator['start_date'] }}
                    </td>
                    <td>
                        <strong>Fecha de Finalización</strong><br>
                        {{currentIndicator['end_date'] }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Coste de la actividad</strong><br>
                        {{currentIndicator['estimated'] }}
                    </td>
                    <td>
                        <strong>Responsable

                        </strong>
                        <br>
                        {{currentIndicator['responsable'] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Estado de la actividad</strong><br>
                        {{ estado['state'] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-raised-button class="mb-3" style="background: #3489ff; color: #f3f3f3;"
                            (click)="cambioEditar()">Editar</button>
                    </td>
                </tr>
            </table>
            <!-- tabla para cambiar editar la actividad -->

            <table class="table" *ngIf="editar">
                <tr colspan="2">
                    <td><Strong>Nombre de la actividad</Strong>
                        <br>
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Digite de la Actividad</mat-label>
                            <input matInput placeholder="Nombre actividad" [(ngModel)]="name" required>
                            <mat-icon matSuffix
                                matTooltip="Nombre que le va agregar a la actividad a realizar en el indicador">info
                            </mat-icon>

                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <Strong>Fecha inicial</Strong><br>
                        <mat-form-field appearance="standard" style="width: 45%;">
                            <mat-label>Inicio de la Actividad</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="dateInitial" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>


                        </mat-form-field>
                    </td>
                    <td>
                        <strong>Fecha de Finalización</strong><br>
                        <mat-form-field appearance="standard" style="width: 45%;">
                            <mat-label>Inicio de la Actividad</mat-label>
                            <input matInput [matDatepicker]="pickers" [(ngModel)]="dateFinal" required>
                            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                            <mat-datepicker #pickers></mat-datepicker>


                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><strong>Coste de la actividad</strong><br>
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Costo de la actividad</mat-label>
                            <input matInput placeholder="Nombre actividad" [(ngModel)]="estimated" required>
                            <mat-icon matSuffix
                                matTooltip="Nombre que le va agregar a la actividad a realizar en el indicador">info
                            </mat-icon>

                        </mat-form-field>
                    </td>
                    <td>
                        <strong>Responsable

                        </strong>
                        <br>
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Digite Responsable</mat-label>
                            <input matInput placeholder="Nombre actividad" [(ngModel)]="responsable" required>
                            <mat-icon matSuffix
                                matTooltip="Nombre que le va agregar a la actividad a realizar en el indicador">info
                            </mat-icon>

                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Estado de la actividad</strong><br>
                        <mat-form-field style="width: 45%; margin-left: 50px;">
                            <mat-label>Estado inicial</mat-label>

                            <mat-select #sta (selectionChange)="algo(sta.value)" required
                                [(value)]="currentIndicator.state">
                                <mat-option *ngFor="let sta of listEstados" [value]="sta.id">
                                    {{ sta['state'] }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-raised-button class="mb-3" style="background: #348934; color: #f3f3f3;"
                            (click)="UpdateActivity()">Guardar</button>
                    </td>
                </tr>
            </table>
        </div>


    </div>



</app-card-template>