<app-card-template titleCard="Configuración de permisos">
    <h4 headerCard>Permisos</h4>
    <div contentCard>
        <app-dynamic-table [dataHeaders]="dataHeadersPermissions" pathData="permissions/" [removable]="true" [add]="false"
            [editable]="true" [informative]="true"></app-dynamic-table>
    </div>
</app-card-template>