<app-card-template titleCard="Reporte">
    <h4 headerCard></h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <section class="example-section">

                <mat-radio-group [(ngModel)]="report">
                    <mat-radio-button class="example-margin" value="plan" (click)="activar()">Informe de todo el
                        plan de mejoramiento
                    </mat-radio-button><br>
                    <mat-radio-button class="example-margin" value="personalizado" (click)="desactivar()">Reporte
                        Personalizado
                    </mat-radio-button><br>

                </mat-radio-group>
            </section>
            <br>
            <div *ngIf="mostrar">
                <h4> <strong>Reporte Personalizado</strong></h4>
                <p>Seleccione el objetivo para ver sus indicadores y generar el reporte</p>
                <mat-form-field class="w-100">
                    <mat-label>Seleccione Objetivo</mat-label>
                    <mat-select #selObjet (selectionChange)="filtroIndicador(selObjet.value)">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let objetivo of listObjetivo" [value]="objetivo.id">
                            {{ objetivo.name }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
                <div *ngIf="actualizar">
                    <p>Seleccione los indicadores con los que quiere generar el reporte</p>
                    <table class="table ta table-hover">

                        <thead>
                            <th>Nombre del Indicador</th>
                            <th>seleccionar</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of indicadorFiltrado">

                                <td style="width: 80%;">


                                    {{item['name']}}

                                </td>
                                <td style="width: 20%;">
                                    <mat-checkbox (change)="checkValue(item)"></mat-checkbox>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
            <button mat-raised-button class="mb-3" style="background: #007E33; color: #f3f3f3;"
                (click)=" reporte()">Descargar</button><br>


            <!-- esquema del reporte -->
            <div *ngIf="mostrarCompleto==false && personal==false">
                <label><strong>Seleccione una opción para ver reporte</strong></label>
            </div>
            <!-- esquema del completo -->
            <div #completo id="completo" *ngIf="mostrarCompleto">

                <table class="table">
                    <tr class="text-info">
                        <td colspan="2">
                            <h5 style="text-align: center;">{{currentPlan['name']}} </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <font size="2"><strong>Fracultad: </strong>{{faculty['name']}} <br></font>
                            <font size="2"><strong>Programa: </strong>{{program['name']}} <br></font>
                            <font size="2"> <strong>Fecha de incio: </strong>{{currentPlan['start_date']}} <br></font>
                            <font size="2"><Strong>Fecha de finalización: </Strong>{{currentPlan['end_date']}} <br>
                            </font>
                            <font size="2"> <strong> generación del reporte: </strong>{{date}} <br></font>



                        </td>
                        <td>

                            <img src="../../../../assets/Escudo_Universidad_Mariana.jpg" alt="Logo Universidad Mariana"
                                style="width: 40%;height: 50%;">
                        </td>
                    </tr>

                </table>
                <!-- Listado de Objetivos -->
                <div #objetivo id="objetivo">
                    <label style="margin-left:40%;">
                        <font size="2"><strong>Objetivos</strong></font>
                    </label>
                    <table class="table table-bordered">

                        <thead class="table-info">
                            <th>
                                <font size="2">Nombre del Objetivo</font>
                            </th>
                            <th>
                                <font size="2">Observación</font>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objetivo of listObjetivo">
                                <td>
                                    <font size="2"> {{objetivo['name']}}</font>

                                </td>
                                <td>
                                    <font size="2"> {{objetivo['observations']}}</font>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Listado de Indicadores -->
                    <div #indicador id="indicador">
                        <label style="margin-left:40%;">
                            <font size="2"><strong>Indicadores</strong></font>
                        </label>
                        <br>
                        <span *ngFor="let item of indicators; let indexOfelement=index;">

                            <table class="table table-bordered">
                                <tr class="table-warning">
                                    <td colspan="4">
                                        <font size="2"> <Strong> #{{indexOfelement +1}} indicador</Strong></font>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <font size="2"> {{item['name']}}</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <font size="2">
                                            <strong>Linea Base</strong>
                                            <br>
                                            {{item['base_line']}}
                                        </font>
                                    </td>
                                    <td>
                                        <font size="2">
                                            <strong>Periodicidad</strong>
                                            <br>
                                            <span *ngFor="let perido of listPeriodicidad">
                                                <span *ngIf="perido['id']==item['periodicity']">
                                                    {{perido['name']}}
                                                </span>
                                            </span>
                                        </font>
                                    </td>
                                    <td>
                                        <font size="2">
                                            <strong>Tendencia</strong>
                                            <br>
                                            <span *ngIf="item['tendency']=='2'">
                                                Subida
                                            </span>
                                            <span *ngIf="item['tendency']=='1'">
                                                Bajada
                                            </span>
                                        </font>

                                    </td>
                                    <td>
                                        <font size="2">
                                            <strong>Tipo de medición</strong>
                                            <br>
                                            <span *ngFor="let Type of lisType">
                                                <span *ngIf="Type['id']==item['typeMeasurement']">
                                                    {{Type['name']}}
                                                </span>
                                            </span>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1">
                                        <font size="2">
                                            <strong>Formula</strong>
                                            <br>
                                            {{item['formula']}}
                                        </font>
                                    </td>
                                    <td colspan="3">
                                        <font size="2">
                                            <strong>Descripción de la formula</strong>
                                            <br>
                                            {{item['description_formula']}}
                                        </font>
                                    </td>
                                </tr>
                            </table>
                            <!-- listado de variables -->
                            <font size="2">
                                <label style="margin-left: 40%;"><strong>variables</strong></label>
                            </font>
                            <table class="table">
                                <thead class="table-secondary" style="padding: 0%;">
                                    <th scope="col">
                                        <font size="2">Variable</font>
                                    </th>
                                    <th scope="col">
                                        <font size="2">Descripción</font>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let aux of variables">
                                        <td *ngIf="aux['indicator']==item['id']">
                                            <font size="2">{{aux['variable']}}</font>
                                        </td>
                                        <td *ngIf="aux['indicator']==item['id']">
                                            <font size="2">{{aux['variable_name']}}</font>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- listado de Metas -->
                            <font size="2"><label style="margin-left: 40%;"><strong>Listado de Metas</strong></label>
                            </font>
                            <table class="table table-bordered">
                                <thead class="table-secondary">
                                    <th>
                                        <font size="2">Meta</font>
                                    </th>
                                    <th>
                                        <font size="2"> Fecha</font>
                                    </th>
                                    <th>
                                        <font size="2">Responsable</font>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let goal of goals">
                                        <td *ngIf="goal['indicator']==item['id']">
                                            <font size="2">{{goal['value']}}</font>
                                        </td>
                                        <td *ngIf="goal['indicator']==item['id']">
                                            <font size="2">{{goal['goal_date']}}</font>
                                        </td>
                                        <td *ngIf="goal['indicator']==item['id']">
                                            <font size="2">{{goal['responsable']}}</font>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- listado de actvidades -->
                            <font size="2"> <label style="margin-left: 40%;"><strong>Listado de
                                        Actividades</strong></label></font>
                            <span *ngFor="let acti of listActivity">
                                <span *ngIf="acti['indicator']==item['id']">
                                    <table class="table table-bordered">

                                        <tr>
                                            <td colspan="5">
                                                <font size="2"> {{acti['name']}}</font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <font size="2"> <label><strong>Presupuesto</strong></label><br>
                                                    {{acti['estimated']}}</font>

                                            </td>
                                            <td>
                                                <font size="2"> <label><strong>Fecha de incio</strong></label><br>
                                                    {{acti['start_date']}}</font>
                                            </td>
                                            <td>
                                                <font size="2"><label><strong>Fecha de finalización</strong></label><br>
                                                    {{acti['end_date']}}</font>
                                            </td>
                                            <td>
                                                <font size="2"><label><strong>Responsable</strong></label><br>
                                                    {{acti['responsable']}}</font>
                                            </td>



                                            <td>
                                                <span *ngFor="let std of states" style="width: 100%;">
                                                    <span *ngIf="std['id']==acti['state']">
                                                        <font size="2"> <label><strong>Estado</strong></label><br>
                                                            {{std['state']}}
                                                        </font>
                                                    </span>
                                                </span>
                                            </td>




                                        </tr>
                                    </table>
                                </span>
                            </span>
                            <!-- listado de actvidades -->
                            <font size="2"><label style="margin-left: 40%;"><strong>Listado de
                                        Mediciones</strong></label></font>
                            <table class="table table-bordered">
                                <thead class="table-secondary">
                                    <th>
                                        <font size="2">Responsable</font>
                                    </th>
                                    <th>
                                        <font size="2">Variable</font>
                                    </th>
                                    <th>
                                        <font size="2">Fecha de la medición</font>
                                    </th>
                                    <th>
                                        <font size="2">Medición</font>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medi of listMedicion">
                                        <td *ngIf="medi['indicator']==item['id']">
                                            <font size="2"> {{medi['responsable']}}</font>
                                        </td>
                                        <ng-container *ngFor="let var1 of variables">
                                            <td *ngIf="medi['indicator']==item['id'] && var1['id']==medi['variable']">
                                                <font size="2">{{var1['variable_name']}}</font>
                                            </td>
                                        </ng-container>


                                        <td *ngIf="medi['indicator']==item['id']">
                                            <font size="2">{{medi['measurement_date']}}</font>
                                        </td>
                                        <td *ngIf="medi['indicator']==item['id']">
                                            <font size="2">{{medi['value']}}</font>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                {{graficar(item)}}
                                <app-graph-line [listMediciones]="listMedicionGraf" [cantiMediciones]="cantMedicion"
                                    [lineaBase]="lineaBase" [metas]="metas">
                                </app-graph-line>
                            </div>


                            <!-- cierre de ciclo del for que controla el indicador -->
                        </span>
                    </div>
                </div>
            </div>
            <!--reporte personalizado -->
            <div #personalizado id="personalizado" *ngIf="personal">

                <table class="table">
                    <tr class="text-info">
                        <td>
                            <h5 style="text-align: center;">{{this.currentObjetive['name']}}</h5>
                        </td>
                    </tr>
                </table>
                <label *ngIf="this.currentObjetive['name']!=null"><strong>
                        <font size="2"> <strong> generación del reporte: </strong>{{date}}
                        </font>
                    </strong></label>
                <br>
                <span *ngFor="let item of seleccionIndicator; let indexOfelement=index;">
                    <label style="margin-left:40%;">
                        <font size="2"><strong>Indicadores</strong></font>
                    </label>
                    <table class="table table-bordered">
                        <tr class="table-warning">
                            <td colspan="4">
                                <font size="2"> <Strong> #{{indexOfelement +1}} indicador</Strong></font>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <font size="2"> {{item['name']}}</font>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <font size="2">
                                    <strong>Linea Base</strong>
                                    <br>
                                    {{item['base_line']}}
                                </font>
                            </td>
                            <td>
                                <font size="2">
                                    <strong>Periodicidad</strong>
                                    <br>
                                    <span *ngFor="let perido of listPeriodicidad">
                                        <span *ngIf="perido['id']==item['periodicity']">
                                            {{perido['name']}}
                                        </span>
                                    </span>
                                </font>
                            </td>
                            <td>
                                <font size="2">
                                    <strong>Tendencia</strong>
                                    <br>
                                    <span *ngIf="item['tendency']=='2'">
                                        Subida
                                    </span>
                                    <span *ngIf="item['tendency']=='1'">
                                        Bajada
                                    </span>
                                </font>

                            </td>
                            <td>
                                <font size="2">
                                    <strong>Tipo de medición</strong>
                                    <br>
                                    <span *ngFor="let Type of lisType">
                                        <span *ngIf="Type['id']==item['typeMeasurement']">
                                            {{Type['name']}}
                                        </span>
                                    </span>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <font size="2">
                                    <strong>Formula</strong>
                                    <br>
                                    {{item['formula']}}
                                </font>
                            </td>
                            <td colspan="3">
                                <font size="2">
                                    <strong>Descripción de la formula</strong>
                                    <br>
                                    {{item['description_formula']}}
                                </font>
                            </td>
                        </tr>
                    </table>
                    <!-- listado de variables -->
                    <font size="2">
                        <label style="margin-left: 40%;"><strong>variables</strong></label>
                    </font>
                    <table class="table">
                        <thead class="table-secondary" style="padding: 0%;">
                            <th scope="col">
                                <font size="2">Variable</font>
                            </th>
                            <th scope="col">
                                <font size="2">Descripción</font>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of variables">
                                <td *ngIf="aux['indicator']==item['id']">
                                    <font size="2">{{aux['variable']}}</font>
                                </td>
                                <td *ngIf="aux['indicator']==item['id']">
                                    <font size="2">{{aux['variable_name']}}</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- listado de Metas -->
                    <font size="2"><label style="margin-left: 40%;"><strong>Listado de Metas</strong></label>
                    </font>
                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <th>
                                <font size="2">Meta</font>
                            </th>
                            <th>
                                <font size="2"> Fecha</font>
                            </th>
                            <th>
                                <font size="2">Responsable</font>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let goal of goals">
                                <td *ngIf="goal['indicator']==item['id']">
                                    <font size="2">{{goal['value']}}</font>
                                </td>
                                <td *ngIf="goal['indicator']==item['id']">
                                    <font size="2">{{goal['goal_date']}}</font>
                                </td>
                                <td *ngIf="goal['indicator']==item['id']">
                                    <font size="2">{{goal['responsable']}}</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- listado de actvidades -->
                    <font size="2"> <label style="margin-left: 40%;"><strong>Listado de
                                Actividades</strong></label></font>
                    <span *ngFor="let acti of listActivity">
                        <span *ngIf="acti['indicator']==item['id']">
                            <table class="table table-bordered">

                                <tr>
                                    <td colspan="5">
                                        <font size="2"> {{acti['name']}}</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <font size="2"> <label><strong>Presupuesto</strong></label><br>
                                            {{acti['estimated']}}</font>

                                    </td>
                                    <td>
                                        <font size="2"> <label><strong>Fecha de incio</strong></label><br>
                                            {{acti['start_date']}}</font>
                                    </td>
                                    <td>
                                        <font size="2"><label><strong>Fecha de finalización</strong></label><br>
                                            {{acti['end_date']}}</font>
                                    </td>
                                    <td>
                                        <font size="2"><label><strong>Responsable</strong></label><br>
                                            {{acti['responsable']}}</font>
                                    </td>



                                    <td>
                                        <span *ngFor="let std of states" style="width: 100%;">
                                            <span *ngIf="std['id']==acti['state']">
                                                <font size="2"> <label><strong>Estado</strong></label><br>
                                                    {{std['state']}}
                                                </font>
                                            </span>
                                        </span>
                                    </td>




                                </tr>
                            </table>
                        </span>
                    </span>
                    <!-- listado de actvidades -->
                    <font size="2"><label style="margin-left: 40%;"><strong>Listado de
                                Mediciones</strong></label></font>
                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <th>
                                <font size="2">Responsable</font>
                            </th>
                            <th>
                                <font size="2">Variable</font>
                            </th>
                            <th>
                                <font size="2">Fecha de la medición</font>
                            </th>
                            <th>
                                <font size="2">Medición</font>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medi of listMedicion">
                                <td *ngIf="medi['indicator']==item['id']">
                                    <font size="2"> {{medi['responsable']}}</font>
                                </td>
                                <ng-container *ngFor="let var1 of variables">
                                    <td *ngIf="medi['indicator']==item['id'] && var1['id']==medi['variable']">
                                        <font size="2">{{var1['variable_name']}}</font>
                                    </td>
                                </ng-container>


                                <td *ngIf="medi['indicator']==item['id']">
                                    <font size="2">{{medi['measurement_date']}}</font>
                                </td>
                                <td *ngIf="medi['indicator']==item['id']">
                                    <font size="2">{{medi['value']}}</font>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div> {{graficar(item)}}</div>
                        <app-graph-line [listMediciones]="listMedicionGraf" [cantiMediciones]="cantMedicion"
                            [lineaBase]="lineaBase" [metas]="metas">
                        </app-graph-line>
                    </div>


                    <!-- cierre de ciclo del for que controla el indicador -->
                </span>
            </div>
        </div>






    </div>
</app-card-template>
<!-- reporte completo por plan de mejoramiento por objetivo, por indicador   -->


<div id="editor" #editor></div>
<!-- reporte por objetivo -->