<app-card-template titleCard="Mediciones">
    <h4 headerCard> lista de planes de mejoramiento</h4>
    <div contentCard>
        <div *ngIf="cambio">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <app-dynamic-table [dataHeaders]="dataHeaders" pathData="plans/" [add]="false" [editable]="false"
                [informative]="true" (viewData)="test($event)"></app-dynamic-table>
        </div>

    </div>
</app-card-template>