<app-card-template titleCard="Indicador">
    <h4 headerCard> Información del indicador</h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <table class="table">
                <tr colspan="2">
                    <td>
                        <label><strong>Nombre del indicador</strong></label> <br>
                        <label>{{currentIndicator['name'] }}</label> <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> <strong>Linea Base</strong></label> <br>
                        <label>{{currentIndicator['base_line']}}</label> <br>
                    </td>
                    <td>
                        <label> <strong>Periodicidad</strong></label> <br>
                        <label>{{periodicidad}}</label> <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> <strong>Tendencia</strong></label> <br>
                        <label>{{tendencia}}</label> <br>
                    </td>
                    <td>
                        <label> <strong>Tipo de medida</strong></label> <br>
                        <label>{{TypeMedicion}}</label> <br>
                    </td>
                </tr>
                <tr colspan="2">
                    <td>
                        <label> <strong>Observaciones</strong></label> <br>
                        <label>{{currentIndicator['observations'] }}</label> <br>
                    </td>
                </tr>

            </table>

            <Label><strong>lISTA DE VARIABLES</strong></Label>
            <!-- (viewData)="test($event)"    -->
            <app-dynamic-table #dtv [dataHeaders]="dataHeaders" pathData="variables/" [add]="false" [removable]="true"
                [editable]="true" [filterData]="filterVariable" [detailed]="false" [informative]="true">
            </app-dynamic-table>
            <br>
            <br>
            <Label><strong>LISTA DE METAS</strong></Label>
            <!-- (viewData)="test($event)"      -->
            <app-dynamic-table #dtg [dataHeaders]="dataHeadersGoals" pathData="goals/" [filterData]="filterGoals"
                [add]="false" [editable]="true" [detailed]="false" [informative]="true" [removable]="true">
            </app-dynamic-table>
        </div>


        <br>
    </div>
</app-card-template>