<app-card-template titleCard="Actividades">
  <h4 headerCard>Agregar Actividad</h4>
  <br>
  <div contentCard>
    <div *ngIf="cambio==true">
      <app-loading></app-loading>
    </div>
    <div *ngIf="cambio==false"> <label> <strong>Nombre del Indicador</strong></label>
      <br>
      <label>{{ currentIndicator.name }}</label>
      <br>
      <p>
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label>Digite de la Actividad</mat-label>
          <input [(ngModel)]="nameActivity" matInput placeholder="Nombre actividad" required>
          <mat-icon matSuffix matTooltip="Nombre que le va agregar a la actividad a realizar en el indicador">info
          </mat-icon>

        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard" style="width: 45%;">
          <mat-label>Inicio de la Actividad</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="dateInitial" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>


        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 45%; margin-left: 50px;">
          <mat-label>Fin de la actividad</mat-label>
          <input matInput [matDatepicker]="pickers" [(ngModel)]="dateFinal" required>
          <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
          <mat-datepicker #pickers></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard" style="width: 45%;">
          <mat-label>Estimación:</mat-label>
          <input matInput placeholder="costo de la actividad" [(ngModel)]="estimated" required>
          <mat-icon matSuffix matTooltip="Costo que va a tener la actividad">info</mat-icon>

        </mat-form-field>

        <mat-form-field style="width: 45%; margin-left: 50px;">
          <mat-label>Estado inicial</mat-label>

          <mat-select (selectionChange)="algo(state.value)" #state required>
            <mat-option *ngFor="let sta of states" [value]="sta.id">
              {{ sta['state'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 100%; ">
          <mat-label>Responsable</mat-label>
          <input matInput placeholder="Digite nombre(s)" [(ngModel)]="responsable" required>
          <mat-icon matSuffix matTooltip="Encargado(s) de realizar la actividad">info</mat-icon>

        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button class="mb-3" style="background: #3489ff; color: #f3f3f3;" (click)="sendData()">

          Agregar Actividad
        </button>
      </p>

      <label><strong>Lista de Actividades</strong> </label>

      <app-dynamic-table #tbActivities [dataHeaders]="dataHeaders" pathData="activities/" [removable]="true"
        [add]="false" [filterData]="forFilter" [editable]="false" [informative]="true" (viewData)="test($event)">
      </app-dynamic-table>
    </div>

  </div>
</app-card-template>