::-webkit-scrollbar {
    display: none;
}

.accordion .mat-expansion-panel {
    border: 1px solid #507d92;
}

.accordion .mat-expansion-panel-header {
    height: 45px !important;
}

.accordion hr{
    background: #0f0c297a;
    height: 0px !important;
    margin-top: 0 !important;
}

.accordion .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}