<div class="mmodal">
    <ul id="progressbar">
        <li class="active">Plan de mejoramiento</li>
        <li>Objetivos</li>
        <li>Indicadores</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">NUEVO PLAN DE MEJORAMIENTO</h2>
        <h3 class="fs-subtitle">REGISTRO DE NUEVO PLAN DE MEJORAMIENTO</h3>
        <hr>
        <form [formGroup]="formPlan">
            <div class="d-flex flex-row mb-3">
                <div class="flex-fill w-50 mr-3">
                    <mat-form-field class="w-100">
                        <mat-label>Facultad</mat-label>
                        <mat-select formControlName="selectFaculty" #selFaculty
                            (selectionChange)="getPrograms(selFaculty.value)" required>
                            <mat-option>Seleccione la facultad</mat-option>
                            <mat-option *ngFor="let faculty of faculties" [value]="faculty.id">
                                {{ faculty.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formPlan.get('selectFaculty')['invalid']">Debe seleccionar una facultad
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex-fill w-50 ml-3">
                    <mat-form-field class="w-100">
                        <mat-label>Programa</mat-label>
                        <mat-select formControlName="selectProgram"
                            [disabled]="formPlan.get('selectFaculty')['invalid']" required>
                            <mat-option>Seleccione el programa</mat-option>
                            <mat-option *ngFor="let program of filteredPrograms" [value]="program.id">
                                {{ program.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formPlan.get('selectProgram'['invalid'])">Debe seleccionar un programa
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex flex-row mb-3">
                <div class="flex-fill">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre plan de mejoramiento</mat-label>
                        <input matInput formControlName="namePlan"
                            placeholder="Ej: Mejorar el promedio academico de los estudiantes..." required>
                        <mat-error *ngIf="formPlan.get('namePlan')['invalid']">
                            ¡El nombre del plan de mejoramiento es requerido!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex flex-row mb-3">
                <div class="flex-fill w-50 mr-3">
                    <mat-form-field class="w-100">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate"
                            (dateChange)="setThreeYears()" required>
                        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStartDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex-fill w-50 ml-3">
                    <mat-form-field class="w-100">
                        <mat-label>Fecha de finalización</mat-label>
                        <input matInput formControlName="endDate" [min]="minDate" [max]="maxDate"
                            [matDatepicker]="pickerEndDate" required>
                        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEndDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="flex-fill mb-3">
                    <mat-form-field class="w-100">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="observations"
                            placeholder="Ej: Se pretende alcanzar una promedio académico..."></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <!-- close button -->
        <button mat-fab type="button" class="btn btn-danger mr-4" (click)="closeDialog()" style="background: #dc3545;">
            <i class="material-icons" style="font-weight: bold;">close</i>
        </button>

        <!-- save button -->
        <button mat-fab type="button" class="btn btn-success mx-4" [disabled]="formPlan.invalid"
            (click)="savePlan(); closeDialog()" style="background: #28a745;">
            <i class="material-icons" style="font-weight: bold;">save</i>
        </button>

        <!-- next button -->
        <button mat-fab type="button" class="btn btn-info ml-4" (click)="savePlan(); setNextField($event, false)"
            [disabled]="formPlan.invalid" style="background: #17a2b8;">
            <i class="material-icons" style="font-weight: bold;">trending_flat</i>
        </button>
        <!--
        <button mat-fab type="button" class="btn btn-info ml-4 next" [disabled]="formPlan.invalid" (click)="savePlan()"
            style="background: #17a2b8;">
            <i class="material-icons"><strong>trending_flat</strong></i>
        </button>
        -->
    </fieldset>

    <fieldset>
        <h2 class="fs-title">REGISTRO DE OBJETIVOS</h2>
        <h3 class="fs-subtitle">{{ formPlan.get('namePlan').value }}</h3>
        <hr>
        <form [formGroup]="formObjective">
            <div class="d-flex flex-row">
                <div class="flex-fill mb-3">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre objetivo</mat-label>
                        <textarea matInput formControlName="nameObjective" rows="4"
                            placeholder="Ej: Se pretende alcanzar una promedio académico..." required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="flex-fill mb-3">
                    <mat-form-field class="w-100">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="observationObjective"
                            placeholder="Ej: Se pretende alcanzar una promedio académico..." required></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <button mat-raised-button color="accent" (click)="saveObjective()" [disabled]="formObjective.invalid">Agregar
            objetivo</button>
        <hr>
        <h3 class="fs-subtitle">Listado de objetivos</h3>

        <app-dynamic-table #tbObjectives [dataHeaders]="dataHeadersObjectives" pathData="objectives/" [add]="false"
            [search]="false" [editable]="true" [filterData]="forFilterObjectives" informative="true" [removable]="true"
            (viewData)="setIndicator($event)">
        </app-dynamic-table>
        <br>

        <!-- Previous button -->
        <button mat-fab type="button" class="btn btn-info ml-4 previous" (click)="setPreviousField($event)"
            style="background: #17a2b8;">
            <i class="material-icons" style="font-weight: bold;">keyboard_backspace</i>
        </button>

        <!-- Finish button -->
        <button mat-fab type="button" class="btn btn-success mx-4" [disabled]="formPlan.invalid" (click)="closeDialog()"
            style="background: #1f8036;">
            <i class="material-icons" style="font-weight: bold;">done_all</i>
        </button>


        <!-- <input type="button" name="previous" class="previous action-button" value="Volver" />
        <input type="button" name="next" class="next action-button" value="Siguiente" /> -->
    </fieldset>

    <fieldset>
        <h2 class="fs-title">REGISTRO DE INDICADORES</h2>
        <h3 class="fs-subtitle">{{ currentObjective['name'] }}</h3>
        <hr>
        <form [formGroup]="formIndicator">
            <div class="d-flex flex-row mb-3">
                <div class="flex-fill">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre Indicador</mat-label>
                        <input matInput formControlName="nameIndicator" placeholder="Ej: Cantidad alumnos..." required>
                        <mat-error *ngIf="formIndicator.get('nameIndicator')['invalid']">
                            ¡El nombre del indicador es requerido!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="d-flex flex-row mb-3">
                <div class="flex-fill w-30 mr-3">
                    <mat-form-field class="w-100">
                        <mat-label>Unidad de medida</mat-label>
                        <mat-select formControlName="typeMeasurement" required>
                            <mat-option>Seleccione la unidad</mat-option>
                            <mat-option *ngFor="let measurement of measurements" [value]="measurement.id">
                                {{ measurement.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-fill w-25 mx-3">
                    <mat-form-field class="w-100">
                        <mat-label>Línea base</mat-label>
                        <input matInput placeholder="Ej: 12" formControlName="base_line" required>
                    </mat-form-field>
                </div>
                <div class="flex-fill w-25 mr-3">
                    <mat-label>Tendencia</mat-label>
                    <mat-slide-toggle formControlName="tendency" color="primary" [checked]="true">
                        {{ formIndicator.get('tendency').value ? 'Ascenso' : 'Descenso' }}
                    </mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex flex-row mb-3">
                <div class="flex-fill w-30 mr-3">
                    <mat-form-field class="w-30">
                        <mat-label>Periodicidad</mat-label>
                        <mat-select formControlName="periodicity" required>
                            <mat-option>Seleccione la periodicidad</mat-option>
                            <mat-option *ngFor="let periodicity of periodicities" [value]="periodicity.id">
                                {{ periodicity.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-fill w-100 ml-3">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre responsable</mat-label>
                        <input matInput placeholder="Ej: 12" formControlName="responsable" required>
                    </mat-form-field>
                </div>
            </div>

            <mat-divider class="mt-3 mb-4"></mat-divider>

            <mat-accordion class="accordion">
                <mat-expansion-panel class="mb-4">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="mr-3" style="color: #2980b9; font-size: 1.5em">outlined_flag</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            METAS
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <hr>
                        <button mat-stroked-button class="mb-2" color="primary" (click)="setGoal()">
                            Agregar nueva meta
                            <mat-icon class="mr-3" style="color: #2980b9; font-size: 1.5em">playlist_add</mat-icon>
                        </button>

                        <form [formGroup]="formGoal">
                            <div class="d-flex flex-row mb-3">
                                <mat-form-field style="width: 100px;" class="mr-2">
                                    <mat-label>Meta</mat-label>
                                    <input matInput type="number" placeholder="Ej: 12" formControlName="valueGoal"
                                        required>
                                </mat-form-field>
                                <mat-form-field style="width: 100px;" class="mr-2">
                                    <mat-label>Año</mat-label>
                                    <input matInput type="number" placeholder="Ej: 12" formControlName="anio" required>
                                </mat-form-field>
                                <mat-form-field class="flex-fill">
                                    <mat-label>Nombre responsable</mat-label>
                                    <input matInput placeholder="Ej: 12" formControlName="responsable" required>
                                </mat-form-field>
                            </div>
                        </form>

                        <hr>

                        <app-dynamic-table #tbGoals [dataHeaders]="dataHeadersGoals" pathData="goals/" [add]="false"
                            [staticData]="currentGoals" [search]="false" [editable]="true" [informative]="true"
                            [detailed]="false" (viewData)="saveIndicator($event)">
                        </app-dynamic-table>
                    </ng-template>
                </mat-expansion-panel>

                <mat-expansion-panel class="mb-4">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="mr-3" style="color: #2980b9; font-size: 1.5em">emoji_symbols</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>
                            FÓRMULA
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <hr>


                        <form [formGroup]="formVariables">
                            <div class="d-flex flex-row mb-3">
                                <mat-form-field style="width: 170px;" class="mr-2">
                                    <mat-label>Nombre variable</mat-label>
                                    <input matInput type="text" placeholder="Ej: 12" formControlName="name" required>
                                </mat-form-field>
                                <mat-form-field style="width: 130px;" class="mr-2">
                                    <mat-label>Variable</mat-label>
                                    <input matInput type="text" max="1" placeholder="Ej: 12" formControlName="variable"
                                        required>
                                </mat-form-field>
                                <button mat-stroked-button class="mb-2" color="primary" (click)="setVariable()">
                                    Agregar variable
                                    <mat-icon class="mr-3" style="color: #2980b9; font-size: 1.5em">sort_by_alpha
                                    </mat-icon>
                                </button>
                            </div>
                        </form>

                        <mat-divider class="mx-5 mt-3 mb-4"></mat-divider>

                        <form [formGroup]="formIndicator">
                            <div class="d-flex flex-row">
                                <div class="flex-fill mb-3">
                                    <mat-form-field class="w-100">
                                        <mat-label>Fórmula</mat-label>
                                        <input matInput type="text" placeholder="Ej: 12" formControlName="formula"
                                            disabled="true" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="flex-fill mb-3">
                                    <mat-form-field class="w-100">
                                        <mat-label>Descripción fórmula</mat-label>
                                        <textarea matInput formControlName="description_formula"
                                            placeholder="Ej: Se pretende alcanzar una promedio académico..."
                                            required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </mat-expansion-panel>

            </mat-accordion>

            <div class="d-flex flex-row">
                <div class="flex-fill mb-3">
                    <mat-form-field class="w-100">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="observations" rows="4"
                            placeholder="Ej: Se pretende alcanzar una promedio académico..."></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <!-- Previous button -->
        <button mat-fab type="button" class="btn btn-info ml-4 previous" (click)="setPreviousField($event)"
            style="background: #17a2b8;">
            <i class="material-icons" style="font-weight: bold;">keyboard_backspace</i>
        </button>

        <!-- Finish button -->
        <button mat-fab type="button" class="btn btn-success mx-4" [disabled]="formIndicator.invalid"
            (click)="saveIndicator()" style="background: #1f8036;">
            <i class="material-icons" style="font-weight: bold;">save</i>
        </button>
    </fieldset>
</div>
<div class="mmodal-background"></div>