
<app-card-template titleCard="Usuarios y Grupos">
    <h4 headerCard>Usuarios</h4>
    <div contentCard>
        
        <button mat-raised-button (click)="openDialogUsers()">Agregar usuario</button>

        <app-dynamic-table [dataHeaders]="dataHeadersUsers" pathData="users/" [removable]="true" [add]="false"
            [editable]="true" [informative]="true"></app-dynamic-table>
    </div>
</app-card-template>

<app-card-template titleCard="Usuarios y Grupos">
    <h4 headerCard>Roles</h4>
    <div contentCard>
        <button mat-raised-button (click)="openDialogGroups()">Agregar grupo</button>
        <app-dynamic-table [dataHeaders]="dataHeadersGroups" pathData="groups/" [removable]="true" [add]="false"
            [editable]="true" [informative]="true"></app-dynamic-table>
    </div>
</app-card-template>

<!-- Modal -->