<div *ngIf="cambio==true">
    <app-loading></app-loading>
</div>
<div *ngIf="cambio==false">
    <app-card-template titleCard="Items de Indicador">
        <h4 headerCard>
            tipo de mediciones
        </h4>
        <div contentCard>
            <button mat-raised-button class="mb-3" style="background: #3489ff; color: #f3f3f3;" (click)=" addType()"><i
                    class="material-icons">
                    add_circle_outline
                </i></button>

            <app-dynamic-table #tbType [dataHeaders]="dataHeaders" pathData="type_measurement/" [removable]="true"
                [add]="false" [editable]="true" [informative]=" true" (viewData)="editItem($event)">
            </app-dynamic-table>
        </div>

        <div contentCard>
            <br />
            <br />
            <h4 headerCard>
                Periodicidad

            </h4>
            <button mat-raised-button class="mb-3" style="background: #3489ff; color: #f3f3f3;" (click)="addItem()"><i
                    class="material-icons">
                    add_circle_outline
                </i></button>

            <app-dynamic-table #tbPeridocidad [dataHeaders]="dataHeaders" pathData="periodicities/" [removable]="true"
                [add]="false" [editable]="true" [informative]="true" (viewData)="editPeriodicidad($event)">

            </app-dynamic-table>

        </div>
    </app-card-template>
</div>