<app-card-template titleCard="Mediciones" id="pdf">
  <h4 headerCard>Nombre del indicador</h4>

  <br>
  <div contentCard>
    <div *ngIf="cambio==true">
      <app-loading></app-loading>
    </div>
    <div *ngIf="cambio==false">
      <form [formGroup]="formMeasurement">
        <label>{{currentIndicator['name']}}</label>
        <br>

        <hr>

        <label><strong>Agregar Medición</strong></label>


        <br>
        <p>
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>Responsable</mat-label>
            <input matInput formControlName="responsable" placeholder="Nombre de la persona(S) que realizo la medicion"
              required>
            <mat-icon matSuffix matTooltip="nombre del encargado de la medición ">info</mat-icon>

          </mat-form-field>
        </p>
        <!-- <p>
      <mat-form-field appearance="standard" style="width: 45%;">
        <mat-label>Fecha de medición</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p> -->

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Variable</th>
                <th scope="col">Nombre</th>
                <th scope="col">Medición</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of variables">
                <td>{{item.variable}}</td>
                <td>{{ item.variable_name }}</td>
                <td>
                  <mat-form-field appearance="standard" style="width: 45%;">
                    <mat-label>Medición:</mat-label>
                    <input matInput type="number" placeholder="Medición realizada"
                      (change)="setValues(item.variable, $event)" [disabled]="formMeasurement.invalid" required>
                    <mat-icon matSuffix matTooltip="Medición realizada a la variable">info</mat-icon>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <p>
          <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>Valor calculado</mat-label>
            <input matInput formControlName="calculatedValue" placeholder="valor total de la medición" disabled>
            <mat-icon matSuffix matTooltip="nombre del encargado de la medición ">info</mat-icon>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Observaciones</mat-label>
            <textarea matInput formControlName="observations" placeholder="Observación opcional"></textarea>
            <mat-icon matSuffix matTooltip="Observación opcional">info</mat-icon>
          </mat-form-field>
        </p>

        <button mat-button type="button" class="btn btn-success mx-4 px-4 py-2"
          [disabled]="!(formMeasurement.valid && measurementAllOk)" (click)="saveMeasurement()"
          style="background: #28a745; font-size: 1.2em;">
          AGREGAR MEDICIÓN
          <i class="material-icons" style="font-weight: bold;">save</i>
        </button>

        <hr>

        <label><strong>Lista de Mediciones</strong></label>
        <br>
        <app-dynamic-table #dtm [dataHeaders]="dataHeaders" pathData="measurement/" [removable]="true"
          [filterData]="filterByIndicator" [add]="false" [search]="false" [editable]="true" [detailed]="false">
        </app-dynamic-table>
      </form>
    </div>

  </div>
</app-card-template>