.sidenav-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-height: 100%;
}

.sidenav_menu {
    width: 280px;
    background: #3e4551;
    color: #fff;
    z-index: 0;
}

.app-title {
    background: #3e4551;
    color: #fff;
    font-size: 1.5em;
}

.toolbar {
    background: transparent;
}

hr {
    background: rgba(0,0,0,.52);
    height: 2px;
    border-radius: 15%;
}
