<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav_menu" #sidenav mode="side" opened="true">
        <mat-toolbar class="app-title">
            <h3>HEROS APP</h3>
        </mat-toolbar>
        <app-sidebar></app-sidebar>

    </mat-sidenav>

    <mat-sidenav-content class="" id="content-sidenav">

        <router-outlet>
            <div class="mx-0">
                <mat-toolbar class="toolbar">
                    <button mat-icon-button matTooltip="Expandir Menú" (click)="sidenav.toggle()">
                        <mat-icon>format_align_justify</mat-icon>
                    </button> &nbsp;&nbsp;
                    <span style="flex: 1 1 auto;"></span>
                    <div>

                        <button mat-icon-button matTooltip="Notificaciones">
                            <mat-icon>notifications</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Mi cuenta" [matMenuTriggerFor]="accountMenu">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                        <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
                            <button mat-menu-item routerLink="#">
                                <mat-icon>person</mat-icon><span>
                                    Mi cuenta</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>help</mat-icon><span>Ayuda</span>
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="logout()">
                                <mat-icon>exit_to_app</mat-icon>
                                Cerrar sesión
                            </button>
                        </mat-menu>
                    </div>
                </mat-toolbar>
            </div>
            <hr class="m-3">

        </router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>


<app-modal id="modal_1" class="hhidden">
</app-modal>