<app-card-template titleCard="DashBoard">
    <h4 headerCard></h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false"> <label> <strong>Nombre del plan de mejoramiento</strong></label> <br>
            <label>{{currentPlan['name'] }}</label> <br>
            <label><strong>Lista de Objetivos</strong></label>
            <app-dynamic-table [dataHeaders]="dataHeaders" pathData="objectives/" [add]="false" [filterData]="forFilter"
                [editable]="false" [informative]="true" (viewData)="test($event)"></app-dynamic-table>
        </div>

    </div>
</app-card-template>