<app-card-template titleCard="Objetivos">
    <h4 headerCard></h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <table class="table">
                <tr colspan="2">
                    <td>
                        <label> <strong>Nombre del Objetivo</strong></label> <br>
                        <label>{{currentObjetive['name'] }}</label> <br>
                    </td>
                </tr>

                <tr colspan="2">
                    <td>
                        <label> <strong>Observaciones</strong></label> <br>
                        <label>{{currentObjetive['description'] }}</label> <br>
                    </td>
                </tr>

            </table>
            <label style="margin-left: 45%;"><strong>Lista de indicadores</strong></label>
            <app-dynamic-table [dataHeaders]="dataHeaders" pathData="indicators/" [removable]="true" [add]="false"
                [filterData]="forFilter" [editable]="true" informative="true" (viewData)="test($event)">
            </app-dynamic-table>
        </div>


    </div>
</app-card-template>