<app-card-template titleCard="Objetivos">
    <h4 headerCard></h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <table class="table" *ngIf="editar==false">
                <tr>
                    <td colspan="2">
                        <label> <strong>Nombre del plan de mejoramiento</strong></label> <br>
                        <label>{{currentPlan['name'] }}</label> <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> <strong>Facultad</strong></label> <br>
                        <label>ingenieria</label> <br>
                    </td>
                    <td>
                        <label> <strong>Programa</strong></label> <br>
                        <label>sistemas</label> <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> <strong>Fecha Inicial</strong></label> <br>
                        <label>{{currentPlan['start_date'] }}</label> <br>
                    </td>
                    <td>
                        <label> <strong>Fecha Final</strong></label> <br>
                        <label>{{currentPlan['end_date'] }}</label> <br>
                    </td>
                </tr>
                <tr colspan="2">
                    <td>
                        <label> <strong>Observaciones</strong></label> <br>
                        <label>{{currentPlan['description'] }}</label> <br>
                    </td>
                </tr>

            </table>
            <table class="table" *ngIf="editar==true">
                <tr>
                    <td colspan="2">

                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Digite nombre del plan de mejoramiento</mat-label>
                            <input matInput placeholder="Nombre del plan de mejoramiento" required>
                            <mat-icon matSuffix matTooltip="Nombre que le va a agregar al plan de mejoramiento">info
                            </mat-icon>

                        </mat-form-field>

                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Facultad</mat-label>
                            <mat-select>

                                <mat-option *ngFor="let faculty of facultad" [value]="faculty.id">
                                    {{ faculty.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Facultad</mat-label>
                            <mat-select>

                                <mat-option *ngFor="let program of programs" [value]="program.id">
                                    {{ program.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="w-100">
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate" required>
                            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStartDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="w-100">
                            <mat-label>Fecha de Finalización</mat-label>
                            <input matInput formControlName="endDate" [matDatepicker]="pickerendDate" required>
                            <mat-datepicker-toggle matSuffix [for]="pickerendDate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerendDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field class="w-100">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput formControlName="observations"
                                placeholder="Ej: Se pretende alcanzar una promedio académico..."></textarea>
                        </mat-form-field>
                    </td>
                </tr>

            </table>

            <br>

            <label style="margin-left: 45%;"><strong>Lista de Objetivos</strong></label>
            <app-dynamic-table [dataHeaders]="dataHeaders" pathData="objectives/" [removable]="true" [add]="false"
                [filterData]="forFilter" [editable]="true" [informative]="true" (viewData)="test($event)">
            </app-dynamic-table>
        </div>

    </div>
</app-card-template>