<app-card-template titleCard="DashBoard">
    <h4 headerCard>Lista de planes de mejoramiento</h4>
    <div contentCard>
        <div *ngIf="cambio">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <app-dynamic-table [dataHeaders]="dataHeaders" pathData="plans/" [add]="false" [editable]="false"
                [informative]="true" (viewData)="test($event)"></app-dynamic-table>
        </div>
    </div>



</app-card-template>