<!-- Button trigger modal -->
<h1 mat-dialog-title class="title-modal">{{ data.title }}</h1>
<hr class="my-2 mb-4">
<div mat-dialog-content class="content-modal">

    <!-- Users Template -->
    <ng-container *ngIf="data.dataType == 'users'; else groupsTemplete">
        Users
    </ng-container>

    <!-- Groups Template -->
    <ng-template #groupsTemplete>
        <form [formGroup]="formGroups" class="mb-5 mx-4">
            <div class="d-flex flex-row mb-5">
                <div class="flex-fill">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre grupo</mat-label>
                        <input matInput formControlName="nameGroup" placeholder="Ej: General" required>
                        <!-- <mat-error *ngIf="formPlan.get('namePlan')['invalid']">
                        ¡El nombre del plan de mejoramiento es requerido!
                    </mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <mat-grid-list cols="7" rowHeight="18px" class="titles">
                <mat-grid-tile colspan="4" class="title-p">Tipo permiso</mat-grid-tile>
                <mat-grid-tile colspan="1">Crear</mat-grid-tile>
                <mat-grid-tile colspan="1">Editar</mat-grid-tile>
                <mat-grid-tile colspan="1">Eliminar</mat-grid-tile>
            </mat-grid-list>

            <hr>

            <mat-grid-list cols="7" rowHeight="50px" *ngFor="let permission of permissionsList">
                <mat-grid-tile colspan="4" class="title-p">
                    {{ permission[0].name }}
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <mat-checkbox></mat-checkbox>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <mat-checkbox></mat-checkbox>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <mat-checkbox></mat-checkbox>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </ng-template>

</div>
<div mat-dialog-actions>
    <div class="d-flex flex-row mb-4 mx-5 px-5">
        <div class="flex-fill">
            <button mat-fab type="button" class="btn btn-danger mr-4" (click)="onNoClick()"
                style="background: #dc3545;">
                <i class="material-icons" style="font-weight: bold;">close</i>
            </button>
            <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->

        </div>
    </div>
</div>