<mat-nav-list dense id="sidebarMenu">
    <mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>&nbsp;&nbsp;<b>DASHBOARD</b>
    </mat-list-item>

    <mat-list-item [routerLink]="['/infoPlanes']" routerLinkActive="active">
        <mat-icon>assignment_turned_in</mat-icon>&nbsp;&nbsp;Planes De Mejoramiento
    </mat-list-item>

    <mat-expansion-panel dense style="background: #3e4551;">
        <mat-expansion-panel-header>
            <mat-icon>notification_important</mat-icon>&nbsp;&nbsp;Plan Operativo
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/ActPlans']" routerLinkActive="active">
                <mat-icon>rate_review</mat-icon>&nbsp;&nbsp;Crear Actividades
            </a>
            <a mat-list-item [routerLink]="['/MedPlans']" routerLinkActive="active">
                <mat-icon>assessment</mat-icon>&nbsp;&nbsp;Crear Mediciones
            </a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel dense style="background: #3e4551;">
        <mat-expansion-panel-header>
            <mat-icon>settings</mat-icon>&nbsp;&nbsp;Administración
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/facultades']" routerLinkActive="active">
                <mat-icon>account_balance</mat-icon>&nbsp;&nbsp;Facultades Y Programas
            </a>
            <a mat-list-item [routerLink]="['/Item-indicador']" routerLinkActive="active">
                <mat-icon>build</mat-icon>&nbsp;&nbsp;Parámetros Del Indicador
            </a>
            <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
                <mat-icon>people</mat-icon>&nbsp;&nbsp;Usuarios y Grupos
            </a>
            <a mat-list-item [routerLink]="['/permissions']" routerLinkActive="active">
                <mat-icon>lock_open</mat-icon>&nbsp;&nbsp;Permisos
            </a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-list-item [routerLink]="['/reporPlan']" routerLinkActive="active">
        <mat-icon>description</mat-icon>&nbsp;&nbsp;Informes
    </mat-list-item>

    <mat-divider></mat-divider>
</mat-nav-list>

