#sidebarMenu>mat-list-item {
    background: #3e4551;
    color: #fff;
    font-size: 1.2em;
}

#sidebarMenu>mat-list-item:hover {
    background: #f4f4f4;
    color: #3e4551;
}

#sidebarMenu>mat-expansion-panel>mat-expansion-panel-header {
    color: #f4f4f4;
    background: #3e4551;
    font-size: 1.2em;
    margin-left: -10px;
}

#sidebarMenu>mat-expansion-panel>mat-expansion-panel-header:hover {
    background: #f4f4f4;
    color: #3e4551;
}

.mat-raised-button {
    background: #007bff;
    color: #fff;
    font-size: 1.2em;
}

#btnGenerate:hover {
    background: #3e4551;
}