<app-card-template titleCard="DashBoard">
    <h4 headerCard>Información del Indicador</h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false" style="width: 100%;">
            <label><strong>MEDICIONES</strong></label>
            <app-graph-line [listMediciones]="listMedicionGraf" [cantiMediciones]="cantMedicion" [lineaBase]="lineaBase"
                [metas]="metas">
            </app-graph-line>
            <label> <strong>ACTIVIDADES</strong></label>
            <app-graph-circule *ngIf="already" [noInicia]="numNoInicia" [cancelada]="numCancelada"
                [enCurso]="numEnCurso" [ejecutada]="numEjecutada" [Finalizada]="numFinalizada"></app-graph-circule>
            <table class="table">
                <tr>
                    <td>
                        <div class="content">
                            <div class="card-title">
                                <h3>
                                    <strong>No iniciadas</strong>
                                </h3>
                            </div>
                            <div class="card-template">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">nombre</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of noInicia">
                                                            <td>{{item.name}}</td>

                                                            <td>
                                                                <button mat-raised-button class="mb-3"
                                                                    style="background: #3489ff; color: #f3f3f3;"
                                                                    (click)="info(item.id)">
                                                                    <i class="material-icons">
                                                                        remove_red_eye
                                                                    </i></button>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div class="card-title">
                                <h3>
                                    <strong>Canceladas</strong>
                                </h3>
                            </div>
                            <div class="card-template">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">nombre</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of cancelada">
                                                            <td>{{item.name}}</td>

                                                            <td>
                                                                <button mat-raised-button class="mb-3"
                                                                    style="background: #3489ff; color: #f3f3f3;"
                                                                    (click)="info(item.id)">
                                                                    <i class="material-icons">
                                                                        remove_red_eye
                                                                    </i></button>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <div class="card-title">
                                <h3>
                                    <strong>En curso</strong>
                                </h3>
                            </div>
                            <div class="card-template">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">nombre</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of enCurso">
                                                            <td>{{item.name}}</td>

                                                            <td>
                                                                <button mat-raised-button class="mb-3"
                                                                    style="background: #3489ff; color: #f3f3f3;"
                                                                    (click)="info(item.id)">
                                                                    <i class="material-icons">
                                                                        remove_red_eye
                                                                    </i></button>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <div class="card-title">
                                <h3>
                                    <strong>Ejecutadas</strong>
                                </h3>
                            </div>
                            <div class="card-template">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">nombre</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of ejecutada">
                                                            <td>{{item.name}}</td>

                                                            <td>
                                                                <button mat-raised-button class="mb-3"
                                                                    style="background: #3489ff; color: #f3f3f3;"
                                                                    (click)="info(item.id)">
                                                                    <i class="material-icons">
                                                                        remove_red_eye
                                                                    </i></button>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <div class="card-title">
                                <h3>
                                    <strong>Finalizadas</strong>
                                </h3>
                            </div>
                            <div class="card-template">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">nombre</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of finalizada">
                                                            <td>{{item.name}}</td>

                                                            <td>
                                                                <button mat-raised-button class="mb-3"
                                                                    style="background: #3489ff; color: #f3f3f3;"
                                                                    (click)="info(item.id)">
                                                                    <i class="material-icons">
                                                                        remove_red_eye
                                                                    </i></button>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


    </div>
</app-card-template>