<app-card-template titleCard="Planes de mejoramiento">
    <h4 headerCard></h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <app-dynamic-table #tbPlans [dataHeaders]="dataHeaders" pathData="plans/" [removable]="true"
                [editable]="true" informative="true" (viewData)="test($event)"></app-dynamic-table>
        </div>

    </div>
</app-card-template>