<app-card-template titleCard="DASHBOARD">
    <h4 headerCard></h4>
    <div contentCard>
        <div *ngIf="cambio==true">
            <app-loading></app-loading>
        </div>
        <div *ngIf="cambio==false">
            <table class="table">
                <tr>
                    <td><label><strong>Nombre de la actividad</strong></label><br>
                        {{currentActivity['name']}}</td>
                </tr>
                <tr>
                    <td><label><strong>Fecha de inicio</strong></label><br>
                        {{currentActivity['start_date']}}</td>
                    <td><label><strong>Fecha Finalización</strong></label><br>
                        {{currentActivity['end_date']}}</td>
                </tr>
                <tr>
                    <td>
                        <label><strong>Coste de la actividad</strong></label>
                        <br>
                        {{currentActivity['estimated']}}
                    </td>
                    <td>
                        <label><strong>Responsable</strong></label><br>
                        {{currentActivity['responsable']}}
                    </td>
                </tr>
            </table>
        </div>

    </div>
</app-card-template>