/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}

#cdk-accordion-child-0>div>mat-nav-list>a {
    color: #f4f4f4;
    background: #3e4551;
}

#cdk-accordion-child-0>div>mat-nav-list>a:hover {
    background: #f4f4f4;
    color: #3e4551;
}

#cdk-accordion-child-1>div>mat-nav-list>a {
    color: #f4f4f4;
    background: #3e4551;
}

#cdk-accordion-child-1>div>mat-nav-list>a:hover {
    background: #f4f4f4;
    color: #3e4551;
}

#content-sidenav {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient( top, rgba(255, 255, 255, 1) 0%, rgba(104, 154, 230, 1) 33%, rgba(77, 77, 77, 1) 100%);
    background: -webkit-gradient( left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(33%, rgba(104, 154, 230, 1)), color-stop(100%, rgba(77, 77, 77, 1)));
    background: -webkit-linear-gradient( top, rgba(255, 255, 255, 1) 0%, rgba(104, 154, 230, 1) 33%, rgba(77, 77, 77, 1) 100%);
    background: -o-linear-gradient( top, rgba(255, 255, 255, 1) 0%, rgba(104, 154, 230, 1) 33%, rgba(77, 77, 77, 1) 100%);
    background: -ms-linear-gradient( top, rgba(255, 255, 255, 1) 0%, rgba(104, 154, 230, 1) 33%, rgba(77, 77, 77, 1) 100%);
    background: linear-gradient( to bottom, rgba(255, 255, 255, 1) 0%, rgba(104, 154, 230, 1) 33%, rgba(77, 77, 77, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4d4d4d', GradientType=0);
}



/* Modal */

.sshow {
    display: block;
}

/* this makes the element hidden/invisible */

.hhidden {
    display: none;
}

/* this holds the CSS display of the modal */

.mmodal {
	/* makes it hover above all elements */
	margin: auto;
    z-index: 1000;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 50%;
    transform: translate( 50% );
    width: 750px;
	text-align: center;
	overflow: scroll;
}

/* backdrop color */

.mmodal-background {
    /* should be below the .modal but above all other elements */
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #424242e0; /* makes the below elements visible to a degree. */
	opacity: 0.95;
	overflow: auto;
}

.mmodal fieldset h3 {
	color: #6c757d;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.2;
}

.mmodal fieldset h6 {
	color: #6c757d;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.mmodal fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
.mmodal fieldset:not(:first-of-type) {
	display: none;
}

.mmodal fieldset .form-group {
	text-align: left;
}


/*inputs*/
/* .mmodal input, .mmodal textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
} */

/*buttons*/
.mmodal .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.mmodal .action-button:hover, .mmodal .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    width: 90%;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
    font-size: 12px;
    text-align: center;
	width: 33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 16px;
	color: #333;
	background: white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
	bottom: 5px;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
    color: white;
    margin: auto;

}