<div class="content">
    <div class="card-title">

        <h3>

            <strong>{{ titleCard || 'Título por defecto' }}</strong>
        </h3>
    </div>
    <div class="card-template">

        <ng-content select="[headerCard]"></ng-content>
        <ng-content select="[contentCard]"></ng-content>
        <ng-content select="[footerCard]"></ng-content>
    </div>
</div>