.content {
    display: block;
    padding: 10px 20px;
    box-sizing: content-box;
}

.card-title {
    position: absolute;
    top: 100px;
    left: 40px;
    margin: 0;
    padding: 10px 30px 0 30px;;
    border-radius: 10px;
    background: #4b515d;
    color: #f3f3f3;
    z-index: 20;
}

.card-title h3 {
    text-transform: uppercase;
}

.card-template {
    position: relative;
    top: 15px;
    padding: 40px 20px 20px 20px;
    z-index: 10;
    height: 95%;
    background: white;
    border: 1px solid rgba(0, 0, 0, .225);
    border-radius: 5px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.4), 0 7px 10px -5px rgba(76, 115, 80, 0.4);
}