<mat-form-field *ngIf="search">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Pedro">
</mat-form-field>

<button *ngIf="add" (click)="addRow()" mat-raised-button class="mb-3"
    style="background: #3489ff; color: #f3f3f3;">INGRESAR NUEVO REGISTRO</button>

<div class="mat-elevation-z8">

    <table mat-table #tb [dataSource]="staticData != undefined ? staticData : dataSource" matSort
        class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container *ngFor="let item of dataRefColumns; index as i" [matColumnDef]="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div *ngIf="editable; else noedit">
                    {{ displayedColumns[i] }}
                </div>
                <ng-template #noedit>
                    {{ dataRefColumns[i] == 'actions' ? 'Estado' : displayedColumns[i] }}
                </ng-template>
            </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="item != 'actions'; else btnActions" style="text-align: justify;">
                    <div *ngIf="element[item].length != 0; else noregistro">
                        <div *ngIf="element[item].length > 80; else txshort">
                            {{ element[item] | slice:0:60 }}
                            <button type="button" class="btn btn-secondary m-0 p-0"
                                style=" background: transparent; border: none; color: black;" data-toggle="tooltip"
                                data-placement="top" [title]="element[item]">
                                ...
                            </button>
                        </div>
                        <ng-template #txshort>
                            {{ element[item] }}
                        </ng-template>
                    </div>
                    <ng-template #noregistro>
                        No registra
                    </ng-template>
                    <!-- {{ element[item] != '' ? (element[item] | slice:0:60) + '...' : 'No registra' }} -->
                </div>
                <ng-template #btnActions>
                    <div class="group-icons" *ngIf="informative && dataRefColumns[i] == 'actions'; else progress">
                        <!-- {{ editable }} -->
                        <button *ngIf="detailed" mat-mini-fab (click)="viewRow(element)" class="mx-1 setIndicator"
                            style="background: #2980b9;">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button *ngIf="removable" mat-mini-fab color="warn" (click)="removeRow(element)" class="mx-1">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <ng-template #progress>
                        <div class="d-flex flex-row">
                            <div class="flex-fill">
                                <app-progress-bar value="10" color="warn" mode="determinate" height="20">
                                </app-progress-bar>

                            </div>
                            <div class="flex-fill"><button mat-mini-fab class="mx-1" style="background: #2980b9;">
                                    <mat-icon>edit</mat-icon>
                                </button></div>
                        </div>

                    </ng-template>

                </ng-template>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataRefColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dataRefColumns;" (click)="selection.toggle(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>