<div *ngIf="cambio==true">
    <app-loading></app-loading>
</div>
<div *ngIf="cambio==false">
    <app-card-template titleCard="Facultades y Programas">
        <h4 headerCard>Facultades
            <button mat-raised-button class="mb-3" style="background: #3489ff; color: #f3f3f3;"
                (click)="modalFacultad()">
                <i class="material-icons">
                    add_circle_outline
                </i></button>
        </h4>
        <div contentCard>
            <div *ngIf="cambio==true">
                <!-- <app-ngx-spinner></app-ngx-spinner> -->
            </div>
            <div *ngIf="cambio==false">
                <app-dynamic-table #tbFaculties [dataHeaders]="dataHeaders" [removable]="true" pathData="faculties/"
                    [add]="false" [editable]="true" [informative]="true" (viewData)="editFaculty($event)">
                </app-dynamic-table>
            </div>

        </div>
    </app-card-template>

    <app-card-template titleCard="Facultades y Programas">
        <h4 headerCard>Programas <button mat-raised-button class="mb-3" style="background: #3489ff; color: #f3f3f3; "
                (click)="modalPrograma()">
                <i class="material-icons">
                    add_circle_outline
                </i></button>
        </h4>
        <div contentCard>
            <div>

                <app-dynamic-table #tbPrograms [dataHeaders]="dataHeadersPrograms" pathData="programs/"
                    [removable]="true" [add]="false" [editable]="true" [informative]="true"
                    (viewData)="editProgram($event)">
                </app-dynamic-table>
            </div>
        </div>
    </app-card-template>
</div>